<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid</title>
  <!--Librerias de CSS y Javascript  de Boosttraps -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>

  <!-- Favicons -->
  <link rel="icon" href="{{ url_for('static', filename='../static/LogoCovid.PNG') }}">

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">COVID</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./informacion">Información</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Noticias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./salud">Salud</a></li>
              <li><a class="dropdown-item" href="./recomendaciones">Recomendaciones</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="./vacunas">Vacunas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacto">Contacto</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- Es un conjunto donde se muestran varias imagenes que avanzan de manera sucesiva -->
  <div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/1.PNG" alt="" class="d-block w-100" width="300px" height="500px">
        </div>
        <div class="carousel-item">
          <img src="../static/2.jpg" class="d-block w-100" alt="..." width="300px" height="500px">
        </div>
        <div class="carousel-item">
          <img src="../static/3.png" class="d-block w-100" alt="..." width="300px" height="500px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div><br>
  <div class="card" style="width: 50rem; margin: 0 auto;">
    <blockquote cite='http://html.conclase.net/w3c/html401...def-BLOCKQUOTE'>
      <p>
        <strong>Acceso instantáneo a la inversión, en cualquier momento y en cualquier lugar</strong> <br>
        <div> Invertir nunca ha sido tan fácil. Todo lo que buscas en una plataforma de inversión definitiva — en el
          dispositivo de tu elección. <br>
          El 'trading' consiste en la compraventa de activos cotizados con mucha liquidez de mercado (acciones, divisas
          y futuros). Y ese mercado financiero es electrónico
          y está regulado. Su objetivo es obtener un beneficio económico cuando la operación genera una plusvalía.</div>
      </p>
      <img src="../static/Prevencion2_Covid.PNG" style="width: 50rem; margin: 0 auto;" alt="">
    </blockquote>
  </div><br>
  <!--Componente cards- para crear dos cartas con los tipos de criptomonedas-->
  <div>
    <div class="row d-flex p-2">
      <div class="col-sm-6">
        <div class="card style=" width: 50px; height: 50px;">
          <div class="card-body" ">
            <h5 class=" card-title">MINISTERIO DE SALUD PÚBLICA</h5>

            <img src="../static/MSP_Img1.PNG">

            <p class="card-text">Conoce más sobre nosotros en nuestra Página Oficial y enterate de toda la información relevante del momento.</p>

            <a href="https://www.salud.gob.ec/" target="_blank" class="btn btn-info">Ir A MSP</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">VACUNA COVID19 (CUPOS LIMITADOS)</h5>

            <img src="../static/Vacunate_Img1.PNG">

            <p class="card-text">Sí deseas dejar tus datos para la vacuna en el ministerio de salud pública, dar clic en
              registros</p>

            <a href="./datosregistro" class="btn btn-info">Registrarse</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!--Footer -->>
  <!-- Footer -->
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">


      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Subscribete </strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Correo</label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-dark mb-4">
                | Ingresar
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Manténgase informado a través de nuestras redes sociales, páginas, entre otros acerca del
          covid 19, para prevenir y salvar más vidas.
        </p>
      </section>
      <!-- Section: Text -->

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Síntomas Covid</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Fiebre</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Tos</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Dolor de Cabeza</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Entre otros</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Vacunas</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">1 Dosis</a>
            </li>
            <li>
              <a href="#!" class="text-dark">2 Dosis</a>
            </li>
            <li>
              <a href="#!" class="text-dark">3 Dosis</a>
            </li>
            <li>
              <a href="#!" class="text-dark">4 Dosis</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Enlaces</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Recomendaciones</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Registros</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Información</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Propiedades</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Principal</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Vacunas</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Help</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Covid 19</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(7, 131, 233, 0.068);">
      © 2022 Covid - 19
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


</body>

</html>